.menu{
    display : flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    background-color:white;
    color:black;
}
.nav{
  color:rgb(92, 203, 236);
  text-align:center;
  padding:02px;
  width: 100px;
  border:2px solid rgb(92, 203, 236);
  box-sizing: border-box;
}
.menu a{
    color:black;
    text-decoration: none !important;
    padding-bottom: 10%;
}

  h1{
    text-align: center;
    font-size: 35;
    margin-left:3%;
  }
 p{
    text-align:center;
    margin-left:3%;
  }
  .table{
    display : flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap;
    background: linear-gradient(rgb(214, 246, 249),white);
  }
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 0%;
  }
  .button1 {background-color: rgb(73, 173, 193);}  

  
  .customer{
  margin-left:45%;
  }
  h2{
    font-size:2rem;
    margin-left:25%;
  }
  .home{
    display : flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    background-color:white;
}
.query{
  display : flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap:wrap;
  background-color:white;
}


.content1{
  margin-top: 100px;
  text-align: left;
}
.promise{
  font-size: 20px;
}
.para1 p{
  text-align: left;
  justify-content: left;
}
.button2{
  background-color: rgb(73, 173, 193);

}
.comp{
  display:flex;
            justify-content:space-evenly;
            align-items: center;
            flex-direction: row;
            flex:1;
            text-align:left;
            
}




.content2{
  margin-left: 47%;
  padding-top: 10%;
}
.text{
  text-align: center;
  font-size: 2rem;
}
.grid{
  display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap:  20px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding-bottom: 5%;
}
.grid1{
  border: 2px ;
  text-align: center;
  padding:60px;
  background-color:rgb(249, 226, 230);
  font-size: large;
}
.grid2{
  border: 2px ;
  text-align: center;
  padding:60px;
  background-color:rgb(253, 220, 240);
  font-size: large;
}
.grid3{
  border: 2px ;
  text-align: center;
  padding:60px;
  background-color: rgb(213, 236, 250);
  font-size: large;
}
.grid4{
  border: 2px ;
  text-align: center;
  padding:60px;
  background-color: rgb(210, 222, 255);
  font-size: large;
}
.grid5{
  border: 2px ;
  text-align: center;
  padding:60px;
  background-color: rgb(247, 234, 209);
  font-size: large;
}
.grid6{
  border: 2px ;
  text-align: center;
  padding:60px;
  background-color:rgb(249, 231, 226);
  font-size: large;
}




.content3{
  margin-left: 45%;
  padding-top: 10%;
}
.text1{
  text-align: center;
  font-size: 2rem;
}
.flex{
  display: flex;
  justify-content: space-evenly;
}



.comp3{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(214, 246, 249);
  text-align: left;
}
.content4{
  text-align: left;
  margin-left: 10%;
  padding:4%;
}
.content4 p{
  text-align: left;
  margin-left: -0%;
  font-size: "xx-small";

}
.button3{
  background-color: rgb(73, 173, 193);

}

.content4 p{
  font-size: 20px;
}
.img3{
  padding: 5%;
}

.comp4{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
}
.casestudies{
  font-size: medium;
}
.content5{
  margin-top: 100px;
  text-align: left;
}
.testimonials{
  font-size: small;
}
.content5 p{
  text-align: left;
}
.img4 {
  position: relative;
  top:8px;
  right: 180px;
  margin-left: 40%;
}
.button4{
  background-color: rgb(73, 173, 193);

}

.overlap {
  font-size: 15px;
  display: inline;
  height: 240px;
  width: 40px;
  
  padding: 25px;
  position: absolute; 
  bottom: 0; 
  right: 0; 
  
}
.img4over{
  position: relative;
}
.img5{
  position: relative;
  top: -20px;
}

.button6{
  background-color: white;
    color: rgb(73, 173, 193);
    height:50px;
    width: 250px;
    font-size: 15px;
    border: 1px solid;
    border-color: rgb(73, 173, 193);
}
.button5{
  background-color: rgb(73, 173, 193);
  border: 50px;
  color: white;
  margin-left: 15px;
}

.solution p{
  text-align: left;
}
.content6 p{
  font-size: 40px;
  text-align: left;
}
.flex2{
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 10%;
}
.comp6 p{
  text-align: center;
  font-size: 50px;
  margin-top: 25px;
}
.head{
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
}
.comp6{
  margin-top: 100px;
  margin-bottom: 100px;
  background: linear-gradient(white,rgb(214, 246, 249));
}
.box2{
  display: flex;
  justify-content: space-evenly;
  font-size: smaller;
  gap: 30px;
  text-align: left;
}
.box2 p{
  font-size:medium;
  text-align: left;
}
.con1{
  padding: 40px;
  background-color: white;
  text-align: left;
}
.con2{
  padding: 40px;
  background-color: white;
  text-align: left;
}
.con3{
  padding: 40px;
  background-color: white;
  text-align: left;
}
.button11 {background-color: rgb(73, 173, 193);} 
.button12 {background-color: rgb(73, 173, 193);} 
.button13 {background-color: rgb(73, 173, 193);} 

.final{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background-color: rgb(34, 31, 31);
  color: white;
}
.tabular{
  margin-top: -10%;
}
.tabular td{
  padding: 3%;
  margin-top: -10%;
  justify-content: space-between;
}
.tabular table {
  width: 200%;
  background-color:rgb(34, 31, 31);
  border: 1% solid;
  justify-content: space-evenly;
  margin-left: -60%;
}
.base{
  background-color:rgb(34, 31, 31);
}
.final1{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: rgb(34, 31, 31);
  color: white;
}

